* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(226, 43%, 10%);
  color: hsl(236, 100%, 87%);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

/* Time Tracker Dashboard */
#timeTrackerDashboard {
  margin: 5rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
}

#timeTrackerDashboard,
.panel {
  gap: 1.875rem;
}

@media (min-width: 47.938rem) {
  #timeTrackerDashboard {
    grid-template-columns: 1fr 3fr;
  }

  .panel {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Button */
button {
  background-color: unset;
  border: none;
  color: hsl(235, 45%, 61%);
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

button:hover {
  cursor: pointer;
}

/* Panel */
.panel {
  display: grid;
}

/* Profile Card */
button.tab--selected {
  color: hsl(0, 0%, 100%);
}

.profile-card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 0.875rem;
}

.profile-card article,
.profile-card nav {
  padding: 1.5rem;
  border-radius: 0.875rem;
}

.profile-card article {
  background-color: hsl(246, 80%, 60%);
  padding: 1.5rem;
}

.profile-card ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  list-style-type: none;
  grid-gap: 0.625rem;
}

.profile-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
}

.profile-details-heading h2 {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.profile-details-heading h3 {
  font-size: 1.375rem;
  font-weight: 300;
  color:hsl(0, 0%, 100%);
}

.profile-details img {
  border: 0.188rem solid hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 3.75rem;
}

@media (min-width: 47.938rem) {
  .profile-card ul {
    grid-template-columns: unset;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    justify-items: left;
    grid-gap: 0.938rem;
  }

  .profile-details {
    grid-template-columns: unset;
    grid-gap: 1rem;
    align-items: center;
  }

  .profile-details-heading span {
    font-size: 2.25rem;
  }
}

/* Card */
.card {
  color: hsl(236, 100%, 87%);
  border-radius: 0.875rem;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.card.work {
  background-color: hsl(15, 100%, 70%);
}

.card.play {
  background-color: hsl(195, 74%, 62%);
}

.card.study {
  background-color: hsl(348, 100%, 68%);
}

.card.exercise {
  background-color: hsl(145, 58%, 55%);
}

.card.social {
  background-color: hsl(264, 64%, 52%);
}

.card.self-care {
  background-color: hsl(43, 84%, 65%);
}

.card-icon {
  display: inline-grid;
  padding: 0 1.5rem;
  justify-self: end;
  transform: translateY(-5px);
}

.card-icon img {
  height: 4.688rem;
}

.card-details {
  background-color: hsl(235, 46%, 20%);
  border-radius: 0.875rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-details h2 {
  font-weight: 400;
  font-size: 1.125rem;
}

.card-details--current p {
  font-size: 1.875rem;
  font-weight: 300;
}

.card-details h2,
.card-details--current p {
  color:hsl(0, 0%, 100%);
}

.card-details--previous {
  display: grid;
  justify-items: end;
}

/* Resource: https://a11y-guidelines.orange.com/en/web/components-examples/accessible-hiding/ */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
