* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(226, 43%, 10%);
  color: hsl(236, 100%, 87%);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

/* Time Tracker Dashboard */
#timeTrackerDashboard {
  margin: 5rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
}

#timeTrackerDashboard,
.panel {
  gap: 1.875rem;
}

@media (min-width: 47.938rem) {
  #timeTrackerDashboard {
    grid-template-columns: 1fr 3fr;
  }

  .panel {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Button */
button {
  background-color: unset;
  border: none;
  color: hsl(236, 100%, 87%);
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

button:hover {
  cursor: pointer;
}

/* Panel */
.panel {
  display: grid;
}

/* Profile Card */
button.tab--selected {
  color: hsl(0, 0%, 100%);
}

.profile-card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 0.875rem;
}

.profile-card article,
.profile-card nav {
  padding: 1.5rem;
  border-radius: 0.875rem;
}

.profile-card article {
  background-color: hsl(246, 80%, 60%);
  padding: 1.5rem;
}

.profile-card ul {
  list-style-type: none;
}

.profile-card img {
  border: 0.25rem solid hsl(0, 0%, 100%);
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
}

/* Card */
.card {
  color: hsl(236, 100%, 87%);
  border-radius: 0.875rem;
  display: grid;
  grid-template-columns: 1fr;
}

.card.work {
  background-color: hsl(15, 100%, 70%);
}

.card.play {
  background-color: hsl(195, 74%, 62%);
}

.card.study {
  background-color: hsl(348, 100%, 68%);
}

.card.exercise {
  background-color: hsl(145, 58%, 55%);
}

.card.social {
  background-color: hsl(264, 64%, 52%);
}

.card.self-care {
  background-color: hsl(43, 84%, 65%);
}

.card-icon {
  display: inline-grid;
  padding: 0 1.5rem;
  justify-self: end;
}

.card-details {
  background-color: hsl(235, 46%, 20%);
  border-radius: 0.875rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Resource: https://a11y-guidelines.orange.com/en/web/components-examples/accessible-hiding/ */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
